<!doctype html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="{% static "css/style.css" %}">
    <title>Hello</title>
</head>

<body>

    <div class="container">

        <p>Hello World!</p>
        <a href="/articles/add">Create article</a>
        <p>{{ result }}</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquid aperiam consectetur ea fugiat ipsum natus quos vitae. Ad aut culpa dolorum illum modi nobis quia! Aspernatur cumque et veritatis voluptatibus.</p>

    </div>

</body>

</html>
